<div class="process-list">
    <div class="process-list__processes">
        <div class="process-list__processes-items">
          <mat-tab-group>
            <mat-tab label="Process List"> 
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="icon">
                  <th mat-header-cell *matHeaderCellDef> Icon </th>
                  <td mat-cell *matCellDef="let element">
                    <app-process [color]="element.color"></app-process>
                  </td>
                </ng-container>
              
                <ng-container matColumnDef="pid">
                  <th mat-header-cell *matHeaderCellDef> PID </th>
                  <td mat-cell *matCellDef="let element"> {{element.pid | pidLabel}} </td>
                </ng-container>
              
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.status | statusLabel}}
                </ng-container>
                
                <ng-container matColumnDef="remaining">
                    <th mat-header-cell *matHeaderCellDef> Remaining </th>
                    <td mat-cell *matCellDef="let element"> {{element.remaining}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="item" [class.selected]="row === selected" (click)="onClick(row)"></tr>
              </table>
            </mat-tab>
            <mat-tab label="Create">
              <div class="process-list__processes-create">

                <h4>Type</h4>
                <mat-radio-group [(ngModel)]="type" aria-label="Type">
                  <mat-radio-button value="0">CPU-Bound</mat-radio-button>
                  <mat-radio-button value="1">IO-Bound</mat-radio-button>
                </mat-radio-group>

                <h4>Priority</h4>
                <mat-radio-group [(ngModel)]="priority" aria-label="Type">
                  <mat-radio-button value="0">0</mat-radio-button>
                  <mat-radio-button value="1">1</mat-radio-button>
                  <mat-radio-button value="2">2</mat-radio-button>
                </mat-radio-group>

                <h4>Cycles: {{ cycles }}</h4>
                <mat-slider min="1" max="25" step="1" showTickMarks>
                  <input matSliderThumb [(ngModel)]="cycles">
                </mat-slider>
                <button mat-flat-button (click)="onCreate()">Create</button>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
    </div>
    <div class="process-list__config">
      @if (selected !== null) {
        <div class="process-list__config--top-div">
          <p>Type: {{ selected.type | typeLabel }}</p>
          <p>Priority: {{ selected.priority }}</p>
        </div>
        <div class="process-list__config--bottom-div">
          <div class="process-list__config--btn" (click)="onSuspend()">
            @if (selected.status === 5) {
              Resume
            }
            @else {
              Suspend
            }
          </div>
          <div class="process-list__config--btn" (click)="onDelete()">
            Delete
          </div>
        </div>
      }
</div>