table {
    background-color: #d7e3ff;
}

.selected {
    background-color: aliceblue;
}

.item {
    cursor: pointer;
}

.process-list {
    width: 100%;
    height: 100%;
    background-color: #d7e3ff;
    border-left: 1px black solid;
    box-sizing: border-box;

    &__processes {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;

        &-items {
            width: 100%;
            height: 100%;
            overflow-x: auto;
            box-sizing: border-box;
        }

        &-create {

            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 10px;
        }
    }

    &__config {
        border-top: 1px black solid;
        box-sizing: border-box;
        width: 100%;
        height: 20%;
    }
}