<div class="container">
    <div class="left-container">
        <div class="top-div">
            <app-process-spec 
            [processList]="dataSource.data" 
            (processUpdated)="onUpdateProcess($event)"
            [cpuInterval]="cpuInterval"
            [ioInterval]="ioInterval"
            [algorithm]="algorithm"
            ></app-process-spec>
        </div>
        <div class="bottom-div">
            <app-os-config
            (cpuChange)="onCpuChange($event)"
            (ioChange)="onIoChange($event)"
            (algChange)="onAlgChange($event)"
            ></app-os-config>
        </div>
    </div>
    <div class="right-div">
        <app-process-list [dataSource]="dataSource.data" 
        (create)="onCreateProcess($event)"
        (delete)="onDeleteProcess($event)"
        (suspend)="onSuspendProcess($event)"></app-process-list>
    </div>
</div>